{% extends 'base.html' %}

{% block title %} {{proj.name}} {% endblock %}
{% load crispy_forms_tags %}
{% block name %}{{proj.name}}{% endblock %}
{% block content %}

        <form method="POST" >
            {% csrf_token %}
            <div class="form-row justify-content-end">
                <div class="col-3">
                    {{row_form|crispy}}
                </div>
                <div>
                    <button type="submit" class="btn btn-success" name="row_add" value="Submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg>
                    Добавить колонку
                    </button>
                </div>
            </div>
        </form>

<!--Кнопка назад -->
        <div class="form-row justify-content-end">
            <a class = "button-back-task" href="/boards">
              <button type="back" class="btn btn-danger mb-2">
                    Назад к доскам
                 </button>
            </a>
        </div>

<!-- Задачи -->
    <div class="container">
      <div class="row" style="">
          {% for r in rows %}
          <div class="col-sm-3 h-100 border text-center rounded border-primary"
                style="background-color: rgba(135,206,250, 0.3);">
              <div class="container">
                  <div class="row">
                      <div class="col- mt-2">
                          <h5>{{ r.name }}</h5>
                      </div>
                      <div class="col- ml-auto">
                          <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggler mt-2" type="button" id="dropdownMenuButton1"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgba(135,206,250, 0.3);">
                                  ☰
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#deleteRow-{{r.id}}">
                                      Удалить
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal fade" id="deleteRow-{{r.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="deleteRowTitle">Удаление</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <p> Вы действительно хотите удалить {{r.name}} ?</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                              <form>
                                  <button type="submit" class="btn btn-danger" formaction="boards/{{proj.id}}/{{r.id}}/deleteRow">
                                      Удалить
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              <hr class="mt-2 mb-4" style="border-color: rgba(135,206,250, 1);">
              {% for t in tasks %}
                    {% if t.row_id == r.id%}
                        <div class="card" style="mt-4">
                          <div class="card-body">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-">
                                          <h5 class="card-title">{{t.name}}</h5>
                                      </div>
                                      <div class="col- ml-auto">
                                          <div class="dropdown">
                                              <button class="btn btn-sm dropdown-toggler" type="button"
                                                      id="dropdownMenuButton" data-toggle="dropdown"
                                                      aria-haspopup="true" aria-expanded="false" style="background-color: rgba(135,206,250, 0.3);">
                                                  ⁞
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#deleteTask-{{t.id}}">
                                                      Удалить
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <p class="card-text">{{t.description}}</p>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-">
                                           <h6 class="card-subtitle mb-2 text-muted">{{t.assigned_to}}</h6>
                                      </div>
                                      <div class="col- ml-auto">
                                            <h6 class="card-subtitle mb-2 text-muted">{{t.start_time}}</h6>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="modal fade" id="deleteTask-{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Удаление</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p> Вы действительно хотите удалить {{t.name}} ?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    <form>
                                        <button type="submit" class="btn btn-danger" formaction="boards/{{proj.id}}/{{t.id}}/deleteTask">
                                           Удалить
                                         </button>
                                    </form>

                                </div>
                              </div>
                            </div>
                        </div>
                    {% endif %}
              {% endfor %}
              <button type="button-task" class="btn btn-primary btn-sm mb-4 mt-2"  data-toggle="modal" data-target="#ModalTask-{{r.id}}" style="background-color:green">Добавить задачу</button>
                <!--Form Задачи-->
              <div class="modal fade" id="ModalTask-{{r.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Задача</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                               <form method="POST" class="form-group">
                                    {% csrf_token %}
                                    {{ task_form|crispy }}
                                    <input type="hidden" name="row_id" value={{r.id}} />
                                    <button type="submit" class="btn btn-success" name="task_add" value="Submit">Добавить задачу</button>
                               </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          {% endfor %}
      </div>
    </div>

    <nav aria-label="Page navigation" class="fixed-bottom ">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item">
                    {% if rows.has_previous%}
                        <a class="page-link" href="?page={{ rows.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="?page=1" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                    {% endif%}
            </li>
            <li class="page-item">
                {% if rows.has_next %}
                    <a class="page-link" href="?page={{ rows.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                {% else %}
                    <a class="page-link" href="?page={{ rows.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}
